doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')
    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')
    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/1770.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    
    .bar-long.none
    .scroll__menu.none
      .container

    .right__menu
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
                
    header.grey
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;') Logo

            .menu__
              ul
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-141
                  a(href='https://vsimakova.org/about-me/') About me
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-145
                  a(href='https://vsimakova.org/founder/') Founder
                  ul.sub-menu
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-377
                      a(href='https://vsimakova.org/the-english-studio/') The English Studio
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-378
                      a(href='https://vsimakova.org/international-leadership-camp-essc/') International Leadership Camp ESSC
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-379
                      a(href='https://vsimakova.org/non-profit-organization-help-ukraine-now/') Non-profit Organization Help Ukraine Now
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-144
                  a(href='https://vsimakova.org/facilitator/') Facilitator
                  ul.sub-menu
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-380
                      a(href='https://vsimakova.org/how-to-change-things-that-seem-impossible-to-change/') How To Change Things That Seem Impossible To Change
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-381
                      a(href='https://vsimakova.org/pbl-school-for-teachers/') PBL School for Teachers
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-382
                      a(href='https://vsimakova.org/the-art-of-giving-feedback/') The Art of Giving Feedback
                li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-138.current_page_item.menu-item-146
                  a(href='https://vsimakova.org/research/', aria-current='page') Research
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-142
                  a(href='https://vsimakova.org/blog/') Blog
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-143
                  a(href='https://vsimakova.org/contact/') Contact me
          
          
            .lang
              a.lang__link(href='javascript:;') Eng
              .lang__menu.active
                a(href='https://vsimakova.org')  English 
                a(href='https://vsimakova.org/uk/')  Ukrainian 
              
            a.mobile__(href='javascript:;')
              svg(width='19', height='14', viewbox='0 0 19 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M1 1H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M6 7L18 7', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M1 13H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
        
        
        
        
    section.contact__1
      .container
        .row
          .col.m12.s12.l6.xl6
            h1.title Contact
            
          .col.m12.s12.l6.xl6
            .block
              p.sub_title Get in Touch
              a.link__title(href='meilto:victoria1simakova@gmail.com') victoria1simakova@gmail.com
              
    section.contact__2
      .container
        .row 
        
          form(method='POST', action='javascript:void(null);')
            // Hidden Required Fields

            .col.m8.offset-m2.s12.l6.xl6

              .form_input
                span.field
                  input.name(type='text', name='name', required='', value='', placeholder='Name')
              .form_input
                span.field
                  input.mail(type='email', name='email', required='', value='', placeholder='Email')
              .form_input
                span.field
                  input.ferstname(type='text', name='subject', required='', value='', placeholder='Subject')

            .col.m8.offset-m2.s12.l6.xl6

              .form_input
                span.field
                  textarea.textarea(name='message', required='', value='', placeholder='Message')

              button.red(type='submit', name='send') SEND


          
          
          

    footer
      .container
        .row
          .col.m12.s12.l6.xl6
            h3.title Call 
            ul.phone
              li
                a(href='javascript:;') USA +16194968297 
              li
                a(href='javascript:;') Ukraine +380631090820

          .col.m12.s12.l4.xl4
            h3.title Contact
            a(href='javascript:;') victoria1simakova@gmail.com
                
                
                
                
          .col.m12.s12.l2.xl2
            ul.social 
              li 
                a(href='javascript:;')
                  img.instagram(src='/img/fa.svg', alt='Facebook')
              li 
                a(href='javascript:;')
                  img.facebook(src='/img/in.svg', alt='Instagram')

                  
                  
                  
             
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    //////   MODAL   ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });
        
        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });
        
      });