doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/83.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    

    .bar-long.none
    
    .scroll__menu.none
      .container

    
    .right__menu
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
  
                
    header.grey
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;') Logo

            .menu__
              ul
                li
                  a(href='javascript:;') Home
                li
                  a(href='javascript:;') About me
                li
                  a(href='javascript:;') Founder
                li
                  a(href='javascript:;') Facilitator
                li
                  a(href='javascript:;') Research
                li
                  a(href='javascript:;') Blog
                li
                  a(href='javascript:;') Contact me
            .lang 
              a(href='javascript:;') Eng
              
            a.mobile__(href='javascript:;')
              svg(width='19', height='14', viewbox='0 0 19 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M1 1H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M6 7L18 7', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M1 13H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
                
    section.howtochange__1
      .container
        .row
          .col.m12.s12.l3.xl3
            h1.title HOW TO CHANGE THINGS
          .col.m12.s12.l5.xl5
            .block__
              img(src='img/howtochange__1_fotov.svg', alt='search')
          .col.m12.s12.l4.xl4
            p.sub THAT SEEM IMPOSSIBLE TO CHANGE
            
    section.howtochange__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title How To Change Things That Seem Impossible To Change
            
            h3.red__text How to change things

            p When working in an organization or even in our personal lives there are things that are not working well and we aspire to change those. More often than not, our change efforts fail for a variety of reasons. How To Change Things That Seem Impossible To Change is a professional development session for middle and top managers, educators, teachers and anyone approaching change in life. The session is about how you can lead and encourage change in human behavior, both in yourself and your organization by focusing on the three powers: the Elephant, the Rider and the Path. The workshop is inspired by the work of Chip and Dan Heath and their concept of bringing together rational and emotional minds to be able to generate change that lasts. The workshop attendees will have an opportunity to work on a precise issue which they want to influence in the organization or in personal life. The session provides the knowledge and tools on how to move from an issue and solution idea to an actual action plan. The participants share their learning with each other while interacting in a meaningful way. 
            p How To Change Things That Seem Impossible To Change workshop was presented at Deeper Learning Conference 2022 and received a lot of positive reviews. 
            p To book this session, please contact the facilitator through the form.

        .row
          .col.m6.s12.l6.xl6
            .box__images
              img(src='img/howtochange_2_f3.svg', alt='search')
          .col.m6.s12.l6.xl6
            .box__images
              img(src='img/howtochange_2_f4.svg', alt='search')

 
    section.inter__3.feedback__3
      .container
        .row
          .col.m12.s12.l6.xl6
              h2.title please, reach
              p.sub out to us

          .col.m12.s12.l5.offset-l1.xl5.offset-xl1

            form(method='POST', action='javascript:void(null);')
              .form_input
                span.field
                  input.name(type='text', name='name', required='', value='', placeholder='Your Name')
              .form_input
                span.field
                  input.mail(type='email', name='email', required='', value='', placeholder='Your Email')
              button.red(type='submit', name='send') Send




    footer
      .container
        .row
          .col.m12.s12.l3.xl3
            h3.title USA 

            ul.phone
              li
                a(href='tel:+16194968297') +16194968297

          .col.m12.s12.l3.xl3
            h3.title Ukraine 


            ul.phone
              li
                a(href='tel:+380631090820') +380631090820

          .col.m12.s12.l4.xl4
            h3.title Contact
            a(href='mailto:victoria1simakova@gmail.com') victoria1simakova@gmail.com
                
                
          .col.m12.s12.l2.xl2
            ul.social 
              li 
                a(href='javascript:;')
                  img.instagram(src='/img/fa.svg', alt='Facebook')
              li 
                a(href='javascript:;')
                  img.facebook(src='/img/in.svg', alt='Instagram')

        
         



                  
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    //////   MODAL   ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });
        
        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });
        
      });


