doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/10.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    

    .bar-long.none
    
    .scroll__menu.none
      .container

    
    .right__menu
      a.close(href='javascript:;')
        img.images(src='img/close.svg', alt='close')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
  
                
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;') Logo

           
            .menu__
              ul
                li
                  a(href='javascript:;') Home
                li
                  a(href='javascript:;') About me
                li
                  a(href='javascript:;') Founder
                li
                  a(href='javascript:;') Facilitator
                li
                  a(href='javascript:;') Research
                li
                  a(href='javascript:;') Blog
                li
                  a(href='javascript:;') Contact me


            .lang
              a.lang__link(href='javascript:;') Eng
              .lang__menu
                a(href='https://vsimakova.org/en/')  English 
                a(href='https://vsimakova.org/uk/')  Ukrainian 

              
            a.mobile__(href='javascript:;')
              svg(width='19', height='14', viewbox='0 0 19 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M1 1H18', stroke='white', stroke-width='2', stroke-linecap='round')
                path(d='M6 7L18 7', stroke='white', stroke-width='2', stroke-linecap='round')
                path(d='M1 13H18', stroke='white', stroke-width='2', stroke-linecap='round')


    section.section__.home__1
      .container
        .row
          .col.m12.s12.l12.xl12
            h1.title 
              span EDUCATOR.
              span FACILITATOR.  
            p.sub FOUNDER. BELIEVER.
            
        .slider__home
          div
            .row
              .col.m12.s12.l6.xl6
                p Whoever teaches learns in the act of teaching, and whoever learns teaches in the act of learning.
                p.sel__ Paulo Freire

              .col.m12.s12.l6.xl6
                div.block_img
                  img.slider(src='img/slider1.svg', alt='search')
          div
            .row
              .col.m12.s12.l6.xl6
                p Whoever teaches learns in the act of teaching, and whoever learns teaches in the act of learning.
                p.sel__ Paulo Freire

              .col.m12.s12.l6.xl6
                div.block_img
                  img.slider(src='img/slider1.svg', alt='search')
          div
            .row
              .col.m12.s12.l6.xl6
                p Whoever teaches learns in the act of teaching, and whoever learns teaches in the act of learning.
                p.sel__ Paulo Freire

              .col.m12.s12.l6.xl6
                div.block_img
                  img.slider(src='img/slider1.svg', alt='search')
        .row
          .col.m12.s12.l12.xl12 
            .slide-count-wrap.cunt
              span.current
              |  / 
              span.total


        .row
          .col.m12.s12.l12.xl12
        
            a.arrow(href='#home__2') DISCOVER


    section.section__.home__2#home__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title ABOUT
          .col.m12.s12.l6.xl5
            .box__img 
              img.search__img(src='img/home__2_spicer.svg', alt='home__2_spicer')
              
          .col.m12.s12.l6.xl7
            p Viktoriia Simakova is a lifelong educator holding a Master's Degree in Educational Leadership from High Tech High Graduate School of Education, San Diego, USA. Her improvement science research focuses on closing equity gaps for English language learners. Viktoriia also holds a Bachelor’s Degree in Philology from Kyiv National Linguistic University. She is an honorary recipient of Grant Award from Victor Pinchuk Foundation and World Wide Studies Program. 
        .row
          .col.m12.s12.l12.xl12
            p Viktoriia is a founder and a former CEO of The English Studio language school and International Leadership Camp ESSC in Bila Tserkva, Ukraine. Both of the projects are centered around a holistic approach in education and creating deeper learning opportunities for students. Over the past twelve years the projects served thousands of students from Ukraine and other countries from around the world. In 2018, the school received an award for providing the best educational services  and becoming the best employer in education in the region from Bila Tserkva City Council. In 2022, Viktoriia became a co-founder of a non profit organization “Help Ukraine Now” working to ensure the needs of Ukrainians suffering from russian aggression. The organization registered in California, USA is collecting and delivering humanitarian aid to Ukraine as well as raising awareness about the issue around the United States.



    footer
      .container
        .row
          .col.m12.s12.l6.xl6
            h3.title Call 
            ul.phone
              li
                a(href='javascript:;') USA +16194968297 
              li
                a(href='javascript:;') Ukraine +380631090820

          .col.m12.s12.l4.xl4
            h3.title Contact
            a(href='javascript:;') victoria1simakova@gmail.com
                
                
          .col.m12.s12.l2.xl2
            ul.social 
              li 
                a(href='javascript:;')
                  img.instagram(src='/img/f.svg', alt='Facebook')
              li 
                a(href='javascript:;')
                  img.facebook(src='/img/i.svg', alt='Instagram')





                  
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    // //// MODAL ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });
        
        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });
        
      });


