doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/687.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    

    .bar-long.none
    
    .scroll__menu.none
      .container

    
    .right__menu
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
  
                
    header.grey
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;') Logo

           
            .menu__
              ul
                li
                  a(href='javascript:;') Home
                li
                  a(href='javascript:;') About me
                li
                  a(href='javascript:;') Founder
                li
                  a(href='javascript:;') Facilitator
                li
                  a(href='javascript:;') Research
                li
                  a(href='javascript:;') Blog
                li
                  a(href='javascript:;') Contact me
            .lang 
              a(href='javascript:;') Eng
              
            a.mobile__(href='javascript:;')
              svg(width='19', height='14', viewbox='0 0 19 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M1 1H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M6 7L18 7', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M1 13H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
        
    section.profit__1
      .container
        .row
          .col.m12.s12.l12.xl12
            h1.title NON PROFIT<br>ORGANIZATION
            .sub “HELP UKRAINE NOW”

            a.red(href='javascript:;') Donate
            a.scroll__(href='#profit__2')
               img.middle(src='img/str.svg', alt='search')
          .col.m12.s12.l12.xl12
            p <b>“Help Ukraine Now”</b> is a nonprofit organization registered in California, USA to provide support for Ukrainians suffering from russian aggression. When the full-scale invasion began on the morning of February 24, 2022, we could not stand aside. A team of volunteers organized a humanitarian aid collection and we shipped 17525 lb of help as well as financially supporting non profits on the ground delivering food and medical supplies into the most dangerous places and war zones. Our mission is to provide assistance to the people of Ukraine by promoting Ukraine as a brave, resistant and strong country.
               //- img.middle(src='img/kvadratu.svg', alt='search') 
        
    section.profit__2#profit__2
       .container
        .row
          .col.m12.s12.l12.xl12
            .profit__slider__top.slider__top
              div
                .block_img 
                  img.slider(src='img/profit__2_slider.png', alt='search')
              div
                .block_img 
                  img.slider(src='img/profit__2_slider.png', alt='search')
              div
                .block_img 
                  img.slider(src='img/profit__2_slider.png', alt='search')
              div
                .block_img 
                  img.slider(src='img/profit__2_slider.png', alt='search')
            .slid__arrow
              a.prev__.top(href='javascript:;')
                svg(width='62', height='62', viewbox='0 0 62 62', fill='none', xmlns='http://www.w3.org/2000/svg')
                  circle(cx='31', cy='31', r='31', fill='#E2454C')
                  g(clip-path='url(#clip0_12990_482)')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M29.0288 39.4489L20.5803 31L29.0288 22.5511L30.0331 23.5551L23.2985 30.2897L43.4199 30.2897L43.4199 31.71L23.2985 31.71L30.0331 38.4446L29.0288 39.4489Z', fill='white')
                  defs
                    clippath#clip0_12990_482
                      rect(width='30', height='30', fill='white', transform='translate(44 16) rotate(90)')

              a.next__.top(href='javascript:;')
                svg(width='62', height='62', viewbox='0 0 62 62', fill='none', xmlns='http://www.w3.org/2000/svg')
                  circle(cx='31', cy='31', r='31', fill='#fff')
                  g(clip-path='url(#clip0_12990_482)')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M29.0288 39.4489L20.5803 31L29.0288 22.5511L30.0331 23.5551L23.2985 30.2897L43.4199 30.2897L43.4199 31.71L23.2985 31.71L30.0331 38.4446L29.0288 39.4489Z', fill='#000')
                  defs
                    clippath#clip0_12990_482
                      rect(width='30', height='30', fill='white', transform='translate(44 16) rotate(90)')
        .row
          .col.m12.s12.l12.xl12
            p As every critical situation requires bold and courageous leadership, we as well felt the need to step up and contribute to our fellow Ukrainians. Since the start of our work, we have collected and sent medical supplies, care under fire items, food, thermal wear and blankets as well as hygiene products. At the moment we are actively working with a Ukrainian nonprofit on the ground “Let’s Do It Ukraine” as well as Vasylkiv and Odessa hospitals by providing necessary items for them. Besides sending immediate relief we are also focusing our effort on funding the projects that are aiming at reconstructing residential housing, schools, hospitals and other infrastructure that has been destroyed during russia-Ukraine war. 

            .box__band
              img.band(src='img/profit_2_usa.svg', alt='usa')


        .row     
          .col.m12.s12.l12.xl12
          
            .inter__2_slider.slider__bottom
              div
                .block__images
                  a(data-fancybox="" href="https://www.youtube.com/watch?v=z2X2HaTvkl8") 
                    img.images(src='img/profit_2_help.svg', alt='search')
              div
                .block__images
                  a(data-fancybox="" href="https://www.youtube.com/watch?v=z2X2HaTvkl8") 
                    img.images(src='img/profit_2_help.svg', alt='search')
              div
                .block__images
                  a(data-fancybox="" href="https://www.youtube.com/watch?v=z2X2HaTvkl8") 
                    img.images(src='img/profit_2_help.svg', alt='search')


            .slid__arrow
              a.prev__.bottom(href='javascript:;')
                svg(width='30', height='22', viewbox='0 0 30 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M18.9637 0.297888L29.665 10.9998L18.9637 21.7017L17.6915 20.43L26.222 11.8995L0.734863 11.8995L0.734863 10.1004L26.222 10.1004L17.6915 1.56997L18.9637 0.297888Z', fill='black')


              a.next__.bottom(href='javascript:;')
                svg(width='30', height='22', viewbox='0 0 30 22', fill='none', xmlns='http://www.w3.org/2000/svg')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M18.9637 0.297888L29.665 10.9998L18.9637 21.7017L17.6915 20.43L26.222 11.8995L0.734863 11.8995L0.734863 10.1004L26.222 10.1004L17.6915 1.56997L18.9637 0.297888Z', fill='black')


                  
                  
               
    section.inter__3.founder_2
      .container
        .row
          .col.m12.s12.l5.offset-l1.xl5.offset-xl1
              h2.title please, reach
              p.sub out to us

          .col.m12.s12.l4.offset-l1.xl4.offset-xl1

            form(method='POST', action='javascript:void(null);')
              .form_input
                span.field
                  input.name(type='text', name='name', required='', value='', placeholder='Your Name')
              .form_input
                span.field
                  input.mail(type='email', name='email', required='', value='', placeholder='Your Email')
              button.red(type='submit', name='send') Send


    footer
      .container
        .row
          .col.m12.s12.l4.xl6
            h3.title Address
            a(href='javascript:;') 2 Heroiv Nebesnoi Sotni Street, Bila Tserkva, Ukraine, 09117

          .col.m12.s12.l3.xl2
            h3.title Call
            a(href='javascript:;') +380976493339

          .col.m12.s12.l3.xl2
            h3.title Contact
            a(href='javascript:;') englishstudio@ukr.net
                
          
          


           


          .col.m12.s12.l2.xl2
            ul.social 
              li 
                a(href='javascript:;')
                  img.instagram(src='img/fa.svg', alt='Facebook')
              li 
                a(href='javascript:;')
                  img.facebook(src='img/in.svg', alt='Instagram')
        
        
         



                  
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
          
          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    //////   MODAL   ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send



    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });
        
        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });
        
      });


