doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')
    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')
    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/1770.png')
  
    //https://www.youtube.com/embed/pv-bZ-PFog0?controls=0&rel=0&playsinline=1&enablejsapi=1&origin=https%3A%2F%2Fawakenedhealthacademy.com&widgetid=1
    
    .bar-long.none
    .scroll__menu.none
      .container

    .right__menu
      a.close(href='javascript:;')
      ul.menu__
        li
          a(href='javascript:;') Recently Added
        li
          a(href='javascript:;') Masterclass Sessions
        li
          a(href='javascript:;') Summit Home
        li
          a(href='javascript:;') RTT
        li
          a(href='javascript:;') Human Longevity
                
    header.grey
      .container
        .row
          .col.m12.s12.l12.xl12
            a.logo(href='javascript:;') Logo

            .menu__
              ul
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-141
                  a(href='https://vsimakova.org/about-me/') About me
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-145
                  a(href='https://vsimakova.org/founder/') Founder
                  ul.sub-menu
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-377
                      a(href='https://vsimakova.org/the-english-studio/') The English Studio
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-378
                      a(href='https://vsimakova.org/international-leadership-camp-essc/') International Leadership Camp ESSC
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-379
                      a(href='https://vsimakova.org/non-profit-organization-help-ukraine-now/') Non-profit Organization Help Ukraine Now
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.menu-item-144
                  a(href='https://vsimakova.org/facilitator/') Facilitator
                  ul.sub-menu
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-380
                      a(href='https://vsimakova.org/how-to-change-things-that-seem-impossible-to-change/') How To Change Things That Seem Impossible To Change
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-381
                      a(href='https://vsimakova.org/pbl-school-for-teachers/') PBL School for Teachers
                    li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-382
                      a(href='https://vsimakova.org/the-art-of-giving-feedback/') The Art of Giving Feedback
                li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-138.current_page_item.menu-item-146
                  a(href='https://vsimakova.org/research/', aria-current='page') Research
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-142
                  a(href='https://vsimakova.org/blog/') Blog
                li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-143
                  a(href='https://vsimakova.org/contact/') Contact me
          
          
            .lang
              a.lang__link(href='javascript:;') Eng
              .lang__menu.active
                a(href='https://vsimakova.org')  English 
                a(href='https://vsimakova.org/uk/')  Ukrainian 
              
            a.mobile__(href='javascript:;')
              svg(width='19', height='14', viewbox='0 0 19 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                path(d='M1 1H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M6 7L18 7', stroke='#000000', stroke-width='2', stroke-linecap='round')
                path(d='M1 13H18', stroke='#000000', stroke-width='2', stroke-linecap='round')
        
    section.closingequity__1
      .container
        .row
          .col.m12.s12.l5.xl5
            h1.title CLOSING EQUITY GAPS FOR ENGLISH
              span LANGUAGE LEARNERS
              
          .col.m12.s12.l7.xl7
            p My research project started when I met an 11th grader at school who was an English learner. She had been at the school for two years but her English was still at an elementary level even though it had improved over this period of time. As I had been working in the sphere of teaching English as a second language for 18 years, I decided to research this issue in the context of the school and test a change idea to improve the work with English learners. <br> This project used improvement science to investigate equity for English language learners, and develop best practices for improving student outcomes in learning English as a second language.  As a result of this work, the research team created and tested a practical English level assessment tool to help EL coordinators to identify students’ language level and personalize the instruction for them accordingly.
       
    section.closingequity__2
        .container 
            
            .row
                .col.m12.s12.l4.offset-l1.xl4.offset-xl1
                    h2.title WHAT IS 
                      span IMPROVEMENT SСIENCE?
            
                .col.m12.s12.l7.x7
                    p Improvement science is a problem-solving approach centered on continuous inquiry and learning. Change ideas are tested in iterative cycles, resulting in efficient and useful feedback to inform system improvements. Through PDSA cycles (Plan-Do-Study-Act) participants can test change ideas, collect data, study the data and decide if the change idea is worth implementing.

            .row
                .col.m12.s12.l4.xl4
                    h2.title Why improvement
                      span Iscience?
                .col.m12.s12.l7.offset-l1.x7.offset-xl1
                    p Improvement science is a step-by-step process that allows players to evaluate and improve ideas before they are fully implemented. 

            .row
                .col.m12.s12.l12.xl12
                    p.bottom__title Focus of Practice and Why It Matters <br><br>
                
                    p The population of English language learners (ELL) is rapidly increasing over the United States. California has the largest number of English learner student population in the nation. Students who are classified as English Learners require effective models of English language instruction in order to narrow the achievement gap of these students and  provide a range of career opportunities for them. Unfortunately, schools today are struggling to provide quality language instruction in order for English Learners to improve their language skills. Research shows that there are high dropout rates among EL students, a small number of ELs enter educational institutions after high school and have<br> limited career opportunities unless their language level improves (Rumbaut, 2014).
                .col.m12.s12.l12.xl12
                    p.bottom <span>Problem statement:</span> <b>Only 11 % of English Learners at HTH schools reclassify in an academic year.</b>
    
    section.closingequity__4
        .container
         .row
            .col.m12.s12.l12.xl12
                h2.title SYSTEMS OF SUPPORT FOR ENGLISH LEARNERS

         .row
            .col.m12.s12.l6.xl6
              h3.sub_title Integrated
              ul.list

                li takes place during regular classes 
                li supports student comprehension of core material
                li provide by the teacher in class

            .col.m12.s12.l6.xl6
              h2.sub_title Designated
              ul.list
                li specific protected time used strictly for language instruction
                li usually provided by an El cordinator 
                li supports students's language acquisition 

         .row
            .col.m12.s12.l12.xl12

                p During the research it was identified that even though integrated support at HTH was a strong suit, designated support was not successfully implemented at the school site. 

    section.closingequity__5
        .container
          .row
            .col.m12.s12.l12.xl12
              h2.title DIGGING INTO ROOT CAUSES 

          .row
             .col.m12.s12.l12.offset-l1.xl10.offset-xl1
                h4.sub__title The following root causes were identified during the research:
                ul.list
                  li Lack of Unified Vision Plan for EL support across HTH schools
                  li Designated EL support is not personalized for the needs and levels of students
                  li Non Existent Curriculum for Designated Support
                  li Lack of TESOL Competencies and Experiences of EL Coordinators
                  li Low Rate of EL Coordinators Retention
          .row
              .col.m12.s12.l12.xl12
                p <span> The aim: </span> By June 2022, HTHI EL students will improve each English Proficiency skill at least by one level according to ELPAC classification.  <br><br> To achieve the aim of this project I worked with the EL coordinator at High Tech High International to complete three PDSA cycles over the course of nine weeks and with the Director of Emerging Multilingual Learning to spread the work among other sites. Before beginning the cycles I separately met with the EL coordinator, the Director of Emerging Multilingual Learning and two students of HTHI to learn more about the experiences of EL coordinators and English language learners at the site. As EL coordinator at HTHI agreed to work with me during the year we made a plan to meet every week to work on progressing towards the aim.

          .row
              .col.m12.s12.l12.xl12
                h2.title THE PLAN:
          .row
              .col.m12.s12.l4.xl4
                h4.sub__title Level Diagnostic Tool
                ul.list
                  li to understand the level and personalize instruction

              .col.m12.s12.l4.xl4
                h4.sub__title Curriculum
                ul.list
                  li provide EL coordinators with a step-by-step system in teaching English
                  li provide supports for EL coordinators

              .col.m12.s12.l4.xl4
                h4.sub__title Video course for EL Coordinators 
                ul.list
                  li enhance EL coordinators’ teacher capacity
          .row            
              .col.m12.s12.l12.xl12
                p <span> Concerns: </span> limited time for improvement. Time required to implement the initial plan is about three years of work. We had only 10 months to do the research, create, test and analyze which served as a limitation to our work.

    section.closingequity__6
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title WORK ACCOMPLISHED:
        .row 
          .col.m6.s12.l4.xl4
            .block__.reds

              h4.ul__title Level Diagnostic Tool
              ul
                li to understand the level and 
                li personalize instruction
                
          .col.m6.s12.l4.xl4
            .block__
              h4.ul__title Curriculum
              ul
                li provide EL coordinators with a step-
                li by-step system in teaching English
                li provide supports for EL coordinators
          .col.m6.s12.l4.xl4
            .block__
              h4.ul__title Video course for EL Coordinators
                ul
                    li enhance EL coordinators’ teacher capacity

    section.closingequity__7
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title LEVEL DIAGNOSTIC TOOL
            a.red(href='javascript:;') Try Level Diagnostic Tool
            p At the start of an academic year new EL students bring new challenges and objectives for both teachers and learners and the first thing we need to know is:

            ul.list
              li What level of English do they have? 
              li How can we personalize the instruction for them?
              li How can we measure their ongoing progress?
        .row
          .col.m12.s12.l12.xl12
              p Level Diagnostic Tool is designed to help identify students’ English Level when learning English as a second language. To provide effective instruction in teaching English, one must clearly understand students’ knowledge of English. Personalized instruction for English Learners is rooted in identifying the current knowledge of sentence structures, grammatical structures and vocabulary to be able to accommodate building the knowledge from the baseline. 
              p Level Diagnostic Tool is an easy 15-20 minutes assessment in a form of conversation that feels more like a friendly chat rather than a test. Because of the format of the test, children feel less stressed during the assessment and are able to show up as their true selves.
              p There are 4 steps of the process and one additional step for the students who performed with high results at previous steps. The testing is structured in the way that the tester asks a student questions and asks to answer in full sentences to identify the sentence structures and grammar being used. In this part of the test it is possible to identify if a student understands the speaker who is asking the questions and what vocabulary and grammar the student can use in a conversation. As the test is structured in the way that the questions go from easy grammar usage to more and more complex ones, it is possible to identify which grammar structures (using am/is/are, past tenses, future tenses and so on) the student uses in speech and which ones he or she does not have the capacity yet. 
        .row
          .col.m12.s12.l12.xl12
            a.red(href='javascript:;') Try Level Diagnostic Tool
        .row
          .col.m12.s12.l12.xl12
            p The next part of the test is understanding the vocabulary level of an English learner. In order to help the student to build vocabulary capacity, the EL coordinator needs to understand which vocabulary level is developed and which level needs more work. The vocabulary testing was also split into three levels. At Level 1 vocabulary testing it was decided to use pictures as a scaffold for students. As Level 1 learners usually do not have the capacity to speak in sentences yet, it was essential to find a format that would help us understand what words or phrases a learner of English can and cannot incorporate into their speech. At Level 1 vocabulary testing, a student is asked to look at the picture and name the objects and processes he or she sees. At Level 2 and 3 students are asked to explain the meaning of words he or she sees and hears. As at those stages language learners are able to build sentences and communicate main ideas and concepts, our aim was to identify the extensiveness of a student's vocabulary usage.
            
        .row
          .col.m12.s12.l12.xl12
            p To read the whole research 
            a.red(href='javascript:;') Full Research



    section.closingequity__8
      .container
        .row
          .col.m12.s12.l12.xl12
            a(href='javascript:;') Viktoriia Simakova, 2022
            p High Tech High Graduate School of Education
            .blockimg
              a(href='javascript:;')
                img(src='img/closingequity_8_hth.svg', alt='Facebook')

    footer
      .container
        .row
          .col.m12.s12.l6.xl6
            h3.title Call 
            ul.phone
              li
                a(href='javascript:;') USA +16194968297 
              li
                a(href='javascript:;') Ukraine +380631090820

          .col.m12.s12.l4.xl4
            h3.title Contact
            a(href='javascript:;') victoria1simakova@gmail.com
                
                
                
                
          .col.m12.s12.l2.xl2
            ul.social 
              li 
                a(href='javascript:;')
                  img.instagram(src='/img/fa.svg', alt='Facebook')
              li 
                a(href='javascript:;')
                  img.facebook(src='/img/in.svg', alt='Instagram')

                  
                  
                  
             
    a.bot_modal.none(data-fancybox='', data-src='#modal-1', href='javascript:;') Open Modal 1
    // //// MODAL ////
    #modal-1.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phone')

          button.green(type='submit', name='send') Send
          
    a.bot_modal.none(data-fancybox='', data-src='#modal-2', href='javascript:;') Open Modal 2
    //////   MODAL   ////
    #modal-2.modal__style.modal(style='display: none;')
      .content_modal
        h3 title

        form(method='POST', action='javascript:void(null);')
          // Hidden Required Fields

          .form_input
            span.field
              input(type='text', name='name', required='', value='', placeholder='Name')

          .form_input
            span.field
              input.phone(type='text', name='phone', required='', value='', placeholder='Phome')
              
          .form_input
            span.field
              textarea.textarea(name='message', required='', value='', placeholder='You message')

          button.green(type='submit', name='send') Send

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

      $(function(){
        $('[data-fancybox]').fancybox({
        //  touch: false,
          autoFocus: false
        });
        
        $("#test").on('click', function(){
          $.fancybox.open('<div class="content__poly"><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae saepe cum a mollitia soluta, consequuntur dolor, rem ipsa voluptas sint dignissimos, at ratione accusantium quos. Sapiente, officia quo ipsam quis distinctio. Repellendus id distinctio, placeat, consequatur molestias in error voluptate dolorem voluptatum aliquam, eligendi minima.</p><div>');
        });
        
      });